figcaption {
  text-align: center;
  font-style: italic;
}

.width_500 img {
  width: 500px;
}

.width_400 img {
  width: 400px;
}

.width_300 img {
  width: 300px;
}

.width_250 img {
  width: 250px;
}

.width_200 img {
  width: 200px;
}

.display_unset {
  display: unset;
}